{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'empregos/css/encontrar_emps.css' %}">

{% endblock %}

{% block 'body' %}


    <div class="container">
    <br>
    <br>
        <div class="row">
            
            <div class="col-sm">
            <form action="{% url 'encontrar_emps' %}" method="GET">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Preço mínimo" name="preco_minimo">
                <br>
                <input type="text" class="form-control" placeholder="Preço máximo" name="preco_maximo">
            </div>

            <div class="col-sm">
                <input type="date" class="form-control" name="prazo_minimo">
                <br>
                <input type="date" class="form-control" name="prazo_maximo">
            </div>

            <div class="col-sm">
                <select class="form-control" name="categoria">
                    <!-- Esse option é para permitir que quando não escolha o filtro categoria venha todos os empregos com todas as categorias -->
                    <option value="ND">-----</option>
                    <option value="D">Design</option>
                    <option value="EV">Edição de vídeo</option>
                </select>
                <br>
                <input type="submit" class="btn btn-success btn-lg" value="FILTRAR">
            </form>
            </div>

            
        </div>
        <br>
        <br>
        <h2 class="titulo">EMPREGOS EM ABERTO:</h2>
        <div class="row justify-content-around">
            {% for e in emps %}
                <div class="col-6 row-card">
                    <div class="card-job">
                        <div class="header-job">
                        <h4 class="titulo-job">{{e.titulo}}</h4>
                        </div>
                        <div class="body-job">
                            <p class="titulo-body">Descrição:</p>
                            <div style="width: 70%">
                                <p>{{e.descricao}}</p>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <p class="titulo-body">Preço:</p>
                                    <p>{{e.preco}}</p>
                                </div>

                                <div class="col-4">
                                    <p class="titulo-body">Prazo:</p>
                                    <p>{{e.prazo_entrega}}</p>
                                </div>

                                <div class="col-4">
                                    <p class="titulo-body">Categoria:</p>
                                    <p>
                                        {% if e.categoria == 'D'%}
                                            Design
                                        {% else %}
                                            Edição de vídeo
                                        {% endif%}
                                    </p>
                                </div>

                            </div>

                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-{{e.id}}">Ver detalhes</button>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>

                <!--Modal-->
                <div class="modal fade" id="modal-{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div style="background-color: #333;" class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title job-modal-titulo" id="exampleModalLabel">Vaga:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <h4 class="titulo-job">{{e.titulo}}</h4>
                                    
                                    <h6 class="titulo-body">Descrição:</h6>
                
                                    <p>{{e.descricao}}</p>
                
                                    <div class="row">
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Preço:</h6>
                
                                            <p>{{e.preco}}</p>
                
                                        </div>
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Prazo:</h6>
                
                                            <p>{{e.prazo_entrega}}</p>
                
                                        </div>
                
                                        <div class="col-4">
                
                                            <h6 class="titulo-body">Categoria:</h6>
                
                                            <p>{{e.categoria}}</p>
                
                                        </div>
                
                                        
                
                                    </div>
                
                                    <h4 style="display:inline;" class="job-modal-titulo">Referencias:</h4>
                                    <br>
                                    <br>
                                    <div class="row">
                
                                        {% for referencia in e.referencias.all %}
                                        <div class="col-4">
                                            <img src="{{referencia}}" width="100%"> 
                                            
                
                                        </div>
                                        {% endfor %}
                
                                        
                
                                    </div>
                                    <br>
                                    <br>
                                    <a href="{% url 'aceitar_emp' e.id %}" class="btn btn-success btn-lg">ACEITAR EMPREGO</a>
                
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            {% endfor %}
            

            

            
           

           
        </div>

    </div>

{% endblock %}