{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'empregos/css/encontrar_emps.css' %}">
<link rel="stylesheet" href="{% static 'empregbs/css/perfil.css' %}">
{% endblock %}


{% block 'body' %}
<br>
<br>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div style="width: 60%">
        <form action="{% url 'perfil' %}" method="POST">{% csrf_token %}
            <p>Nome de usuário:</p>
            <input type="text" class="form-control" value="{{user.username}}" name="username">
            <br>
            <p>Email:</p>
            <input type="email" class="form-control" value="{{user.email}}" name="email">
            <br>
            <p>Primeiro nome:</p>
            <input type="text" class="form-control" value="{{user.first_name}}" name="primeiro_nome">
            <br>
            <p>Último nome:</p>
            <input type="text" class="form-control" value="{{user.last_name}}" name="ultimo_nome">
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Salvar alterações">
        </form>
    </div>
    <br>
    <hr class="borda-degrade">
    <br>
    <h4 class="titulo">Histórico</h4>

    <table style="background-color: #222; color: white;" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            {% for e in emps %}
            <tr>
                <th scope="row"><img width="100px" src="{{e.referencias.all.0}}"></th>
                <td>{{e.titulo}}</td>
                <td>{{e.categoria}}</td>
                <td>{% if e.categoria == 'D'%}
                    Design
                    {% else %}
                    Edição de vídeo
                    {% endif%}
                </td>
                <td>
                    {% if e.status == 'AA'%}
                    <span class="badge badge-info">Aguardando aprovação</span>
                    {% elif e.status == 'C' %}
                    <span class="badge badge-primary" data-toggle="modal" data-target="#modal-job-{{e.id}}">Em criação</span>

                    {% else %}
                    <span class="badge badge-success">Finalizado</span>
                    {% endif %}
                </td>
            </tr>

            {% for e in emps %}
                {% if e.status == "C"%}
                    <div class="modal fade" id="modal-job-{{e.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div style="background-color: #333;" class="modal-content">
                                <div class="modal-header">
                                    <h5 style="font-size: 30px" class="modal-title titulo" id="exampleModalLabel">JOB:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <h4 class="titulo-job">{{e.titulo}}</h4>
                                    <br>
                                    <h6 class="titulo-body">Status:</h6>

                                    {% if e.status == 'AA'%}
                                    <span class="badge badge-info">Aguardando aprovação</span>
                                    {% elif e.status == 'C' %}
                                    <a class="badge badge-primary">Em criação</a>

                                    {% else %}
                                    <span class="badge badge-success">Finalizado</span>
                                    {% endif %}

                                    <h6 class="titulo-body">Prazo máximo para entrega:</h6>
                                    <p>{{e.prazo_entrega}}</p>

                                    <hr style="border-color: yellow">
                                    <form action="{% url 'enviar_projeto' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" class="form-control" placeholder="Enviar arquivos" name="file">
                                        <input type="hidden" name="id" value="{{e.id}}">
                                        <br>
                                        <input type="submit" value="Enviar" class="btn btn-success btn-lg">

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}